body {
    background-color: lightgray;
}

.headings {
    font-size: larger;
    font-family: monospace;
}

.projects {
    color: lightseagreen;
}

#para1 {
    text-align: center;
    text-underline-position: below;

}

ul > .projects {
    color: lightyellow;
}